body
{
    font-family: "Open sans", sans-serif;
    font-weight: 300;
    font-size: 2em;
    position: relative;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    margin: 0;
}

.navbar
{
    border-radius: 0;
    border: 0;
}
/** main **/
.main {
    margin-top: 50px;
}
/** Page **/

.page
{
    padding: 50px 0;
}

.page h2
{
    text-align: center;
    margin-bottom: 30px;
}

/** Map **/

.map-section{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-section iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/** Partner **/

#partner-heading {
    color: #fff;
    text-align: center;
}

/**  Footer Navigation **/

footer
{
    background: #586D74;
    color: white;
    font-size: .8em;
    padding: 20px 0 40px 0;
}

footer a
{
    color: #E0E6AE;
}

footer a:hover
{
    color: #EEC856 !important;
}

footer .navbar
{
    margin-bottom: 0;
    min-height: 0;
}

footer .navbar-default
{
    background-color: transparent;
    border: none;
    margin-right: 40px;
}

footer .navbar-nav>li a
{
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: underline;
    color: #EEC856 !important;
}
