@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,300italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

body{
  // background-color: $gray-background;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #f9f9f9;
  h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
  }
  p {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    &:last-child{
      margin-bottom: 0;
    }
  }

  h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 46px !important;
    color: $header-primary !important;
  }

  h2 {
    font-size: 28px !important;
    color: #3d3d3d !important;
  }

  h3 {
    font-size: 22px !important;
    color: #3d3d3d !important;
    font-weight: normal !important;
  }
}
body#tinymce {
  background-color: #fff !important;
}

a {
  // color: #c17174;
  color: darken($btn-primary-hover, 25%);
}
a:hover {
  color: $btn-primary-hover;
}

.widget-title,
.footer h3 {
  color: #FFF !important;
}

.main {
  &.full-width {
    padding: 0;
  }
}

.padding {
  padding-left: 100px;
  padding-right: 100px;
}

.click-menu {
  cursor: pointer;
  padding:0;
  padding-bottom: 10px;
  margin:0;
}

.tooltip {

}

.container-fluid {
  &.background-image {
    margin-top: -20px !important;
    margin-bottom: -80px;
    padding-top: 20px;
    padding-bottom: 80px;
    background-size: cover;
    background-position: center center;
    background-color: #f7f7f7;
  }

  &.extra-padding {
    padding-top: 60px;
    padding-bottom: 120px;
  }
}

.tag {
  display: inline-block;
  background-color: $primary-color;
  padding: 5px 10px;
  border-radius: 2px;
  color: #FFF;
  margin-right: 10px;
  font-size: 15px;
}

.page-header {
  font-family: "Open Sans", Sanserif;
  color: $brand-primary;
  text-transform: uppercase;
  text-align: center;
  border-bottom: none !important;
  h1 {
    font-weight: bold;
    font-size: 30px;
  }
}
input[type=text],
input[type=email],
input[type=password],
select,
textarea {
  border: none;
  box-shadow: none !important;
  outline: 0;
  border: 1px solid #dedede;
  border-bottom: 2px solid #DEDEDE;
  padding: 22px;
  font-size: 14px;
  padding:0!important\9;
  *padding:0!important;
  _padding:0!important;

  @-moz-document url-prefix() {
    padding: 0 0 0 10px;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    padding: 0!important;
  }

  &:focus {
    border: 1px solid $primary-color;
    border-bottom: 2px solid $primary-color;
  }
}
.search-field {
  width:120px !important;
}

#search-user {
  padding: 0;
  height: 50px;
  width: 200px;
  font-size:16px;
}

.dataTables_length select{
  padding:0;
}

#sticky {

}

.clear {
  clear:both;
}

.card {
  width: 100%;
  height: auto;
  background: #F9f9f9;
  border-radius: 5px;
  display: block;
  text-decoration: none !important;
  cursor: pointer;

  a,
  &:a {
    text-decoration: none;
  }

  .icon {
    text-align: center;
    font-size: 40px;
    padding-top: 40px;

    i {
      color: #3d3d3d;
    }
  }

  .info {
    margin-top:20px;
    margin-bottom: 40px;
    text-align: center;
    color: $section-primary;
    text-decoration: none !important;
    font-weight: bold;
  }

  &:hover {
    background: #f2f2f2;
  }

  &.white {
    background: #FFF;
    border-bottom: 2px solid #E0E0E0;

    &:hover {
      background: #f2f2f2;
    }
  }

  &.no-hover {
    &:hover {
      background: #FFF;
    }
    cursor: pointer;
  }
}

#sticky.stick {
  width: 100%;
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
}

#topimages-bg {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: -20px;
}

.main {
  // padding-top: 50px;
}

body.home {
  .main {
    padding: 0;
    top: -20px;
  }
}
.right{
  float: right;
}
.left{
  float: left;
}
.center{
  display: block;
  margin: 0 auto;
}
.help-block{
  font-size: 12px;
}
.mt-sm{
  margin-top: 10px;
}
.mt-md{
  margin-top: 20px;
}
.mt-lg{
  margin-top: 40px;
}
.mb-sm{
  margin-bottom: 10px;
}
.mb-md{
  margin-bottom: 20px;
}
.mb-lg{
  margin-bottom: 40px;
}
.mr-sm{
  margin-right: 10px;
}
.no-mg{
  margin: 0 !important;
}
.no-pd{
  padding: 0;
}
.md-no-padding{
  @media (min-width: $screen-md-min) {
    padding: 0;
  }
  @media (min-width: $screen-sm-min) {
    padding: 0;
  }
}

.navbar-collapse {
  &.collapsing {
     height: 350px!important;
   }
  &.collapse {
    height: 350px;
  }
}
