// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$primary-color:               #6B3756;
$primary-darker-color:        #532741;

$primary-green:               #2ecc71;
$primary-orange:              #e67e22;
$primary-red:                 #e74c3c;

// Colors
$brand-primary:         #9e9e9e;
$star-filled:           #dece00;
$icon-verified:         #84cd80;

$heading-gray:         #828282;
$gray-light:           #d8d8d8;
$gray-light-2:         #9c9c9c;
$gray-background:      #ececec;
$light-grey:           #e0dfdf;

$white:                #ffffff;
$black:                #000000;
$btn-grey:             #4C4C4C;

$section-secondary:    #c0392b;
$section-dark:         #2c3e50;
$orange:               #ff6900;
$blue:                 #3e6372;
$btn-blue:             #349DC7;
$gray:                 #e1e1e5;
$pink:                 #E0A2A2;


$top-links:                   #6B3756;
$section-primary:             #6B3756;
$header-primary:              #6B3756;
$section-primary-light:       #e79295;
$brand-text:                  #e79295;
$section-primary-text-light:  #EFE3E4;
$section-primary-text:        #f6d6da;

$btn-primary:               #e79295;
$btn-primary-hover:         #dd8589;


//    color: #EFE3E4 !important;
// Fonts

// transition
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
