body {
  font-family: "Open sans", sans-serif;
  font-weight: 300;
  font-size: 2em;
  position: relative;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
}
.navbar {
  border-radius: 0;
  border: 0;
}

/** image bg **/

.image-bg-fluid {
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 600px;
}
.image-bg-fluid .img-heading {
  padding: 250px 0 50px;
  text-align: center;
  font-size: 50px;
  color: #fff;
}
.image-bg-fluid .img-heading h1 {
  font-family: 'Bebas Neue', Open sans;
  text-transform: uppercase;
  font-size: 1em;
}
.image-bg-fluid .img-heading h3 {
  font-family: 'Kalam', cursive;
  text-transform: uppercase;
  padding: 15px 0;
}
.btn-button-img, .btn-button-img:link, .btn-button-img:visited {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: #fff;
  border: 2px solid #fff;
}
.btn-button-img:active, .btn-button-img:hover {
  background-color: #fff;
  color: #000;
  border-radius: 3px;
}

/** Page **/

.page {
  padding: 50px 0;
}
.page h2 {
  text-align: center;
  margin-bottom: 30px;
}

/**  Page Columns **/

#columns-block {
  background-color: #72DABD;
  padding-left: 50px;
  padding-right: 50px;
}
.photo {
  padding: 5px;
}
.info {
  font-family: 'open-sans', helvetica;
  font-weight: 200;
  font-size: 14px;
  color: #fff;
}
.info h3 {
  font-family: 'open-sans', helvetica;
  font-weight: bold;
}
.btn-button-col, .btn-button-col:link, .btn-button-col:visited {
  background-color: transparent;
  border-radius: 3px;
  color: #fff;
  border: 2px solid #fff;
}
.btn-button-col:active, .btn-button-col:hover {
  background-color: #fff;
  color: #000;
  border-radius: 3px;
}
.main {
  padding: 0 400px;
}
.main-container h1 {
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
}
.main-container p {
  font-family: 'open-sans', helvetica;
  font-weight: 200;
  font-size: 15px;
}

/** Map **/

.map-section {
  overflow: hidden;
  padding-bottom: 28.25%;
  position: relative;
  height: 0;
}
.map-section iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/** Listing **/

tr:hover {
  background: #efefef;
  cursor: pointer;
}
.btn-button-table, .btn-button-table:link, .btn-button-table:visited {
  background-color: transparent;
  border-radius: 3px;
  color: #4C4C4C;
  border: 1px solid #4C4C4C;
}
.btn-button-table:active, .btn-button-table:hover {
  background-color: #4C4C4C;
  color: #fff;
  border-radius: 3px;
}

/** Partner **/

.partner-container h1 {
  font-family: 'Bebas Neue', Open sans;
  text-transform: uppercase;
  font-size: 2em;
  color: #fff;
  text-align: center;
  padding-bottom: 15px;
}
.partner-col {
  text-align: center;
}
.partner-img {
  padding: 0 20px;
}

/**  Footer Navigation **/


/**
footer {
  background: #586D74;
  color: white;
  font-size: .8em;
  padding: 20px 0 40px 0;
}
footer a {
  color: #E0E6AE;
}
footer a:hover {
  color: #EEC856 !important;
}
footer .navbar {
  margin-bottom: 0;
  min-height: 0;
}
footer .navbar-default {
  background-color: transparent;
  border: none;
  margin-right: 40px;
}
footer .navbar-nav>li a {
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: underline;
  color: #EEC856 !important;
}
