.btn {
  &.btn-primary {
    border-radius: 5px;
    display: inline-block;
    padding: 15px 30px;
    cursor: pointer;
    background-color: $primary-color !important;
    border: none;
    border-bottom: 2px solid $primary-darker-color;
    color: #FFF;
    text-transform: none;
    font-weight: bold;
    letter-spacing: 1px;

    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;

    outline: 0 !important;

    &:hover {
      background-color: $primary-darker-color !important;
    }
  }
}


.btn-grey {
  border-color: #666;
  color: $heading-gray;
  // font-size: 10px;
  text-transform: uppercase;
  background-color: transparent;
  margin-bottom: 10px;
  padding: 15px;
  width: 150px;
  &:hover {
    background-color: #666;
    color: #fff;
  }
}
.btn-brand-primary {
  background-color: transparent;
  color: #e79295;
  text-transform: uppercase;
  border: 2px solid #e79295;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  padding: 15px 30px;

  &:hover {
    background-color: #ef9da0;
    border: 2px solid #ef9da0;
    color: #FFF;
  }

  &.btn-small {
    padding: 6px;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid #ef9da0;

    &:hover {
      border: 1px solid #ef9da0;
    }

  }
}
.btn-toolbar {
  .btn {
    float: none;
  }
  .btn-button-img {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    color: $white;
    border: 2px solid $white;
    &:link {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 3px;
      color: $white;
      border: 2px solid $white;
    }
    &:visited {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 3px;
      color: $white;
      border: 2px solid $white;
    }
    &:active {
      background-color: $white;
      color: $black;
      border-radius: 3px;
    }
    &:hover {
      background-color: $white;
      color: $black;
      border-radius: 3px;
    }
  }
}
.btn-button-col {
  background-color: transparent;
  border-radius: 3px;
  color: $white;
  border: 2px solid #fff;
  &:link {
    background-color: transparent;
    border-radius: 3px;
    color: $white;
    border: 2px solid #fff;
  }
  &:visited {
    background-color: transparent;
    border-radius: 3px;
    color: $white;
    border: 2px solid #fff;
  }
  &:active {
    background-color: #fff;
    color: $black;
    border-radius: 3px;
  }
  &:hover {
    background-color: #fff;
    color: $black;
    border-radius: 3px;
  }
}
.btn-button-table {
  background-color: transparent;
  border-radius: 3px;
  color: #4C4C4C;
  border: 1px solid $btn-grey;
  &:link {
    background-color: transparent;
    border-radius: 3px;
    color: $btn-grey;
    border: 1px solid $btn-grey;
  }
  &:visited {
    background-color: transparent;
    border-radius: 3px;
    color: $btn-grey;
    border: 1px solid $btn-grey;
  }
  &:active {
    background-color: $btn-grey;
    color: $white;
    border-radius: 3px;
  }
  &:hover {
    background-color: $btn-grey;
    color: white;
    border-radius: 3px;
  }
}
.origin-widget.origin-widget-button.origin-widget-button-simple-primary a {
  background-color: transparent;
  border-radius: 3px;
  color: $white;
  border: 2px solid #fff;
  &:link {
    background-color: transparent;
    border-radius: 3px;
    color: $white;
    border: 2px solid #fff;
  }
  &:visited {
    background-color: transparent;
    border-radius: 3px;
    color: $white;
    border: 2px solid #fff;
  }
  &:active {
    background-color: #fff;
    color: $black;
    border-radius: 3px;
  }
  &:hover {
    background-color: #fff;
    color: $black;
    border-radius: 3px;
  }
}
.btn-heading {
  padding: 250px 0 50px;
  text-align: center;
  font-size: 50px;
  color: $white;
  .btn-button-img {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    color: $white;
    border: 2px solid $white;
    &:link {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 3px;
      color: $white;
      border: 2px solid $white;
    }
    &:visited {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 3px;
      color: $white;
      border: 2px solid $white;
    }
    &:active {
      background-color: $white;
      color: $black;
      border-radius: 3px;
    }
    &:hover {
      background-color: $white;
      color: $black;
      border-radius: 3px;
    }
  }
}
.btn-toolbar-static{
  background: $primary-color;
  background: rgba(107, 55, 86, 0.79);
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  right: -180px;
  top: 40%;
  padding: 20px 20px 20px 10px;
  position: fixed;
  z-index: 999999;
  -webkit-transition: right .5s ease; /* Safari */
  transition: right .5s ease;

  &.toolbar-static-en {
    right: -165px;
  }

  p {
    font-weight: bold;
    padding: 0 5px;
    color: $white;
    cursor: pointer;
  }
  &.open{
    right: 0;

    p {
      content: "\f054";
    }
    .wrapper{
      i{
        &:before{
          content: "\f054";
        }
      }
    }
  }

  .wrapper{
    display: inline-block;
    vertical-align: middle;
    &:first-child{
      margin-right: 10px;
    }
    i{
      color: $white;
      line-height: 100%;
      padding: 10px;

      &.fa {
        color: $white;
        padding:0;
        padding-top: 5px;
      }
    }
    .btn{
      border: 2px solid $white;
      color: $white;
      display: block;
      float: none;
      &:first-child{
        margin-bottom: 20px;
      }
    }
  }
}

.wpcr3_pagination{
  .wpcr3_a{
    &.wpcr3_disabled, &.wpcr3_ls.wpcr3_disabled, &.wpcr3_rs.wpcr3_disabled {
      background: #aaa;
      &:hover{
        background: #aaa;
      }
    }
    &:hover{
      background: $btn-primary-hover;
    }
  }
  .wpcr3_a.wpcr3_current{
    background: $btn-primary;
    &:hover{
      background: $btn-primary-hover;
    }
  }
}

@media print {
  .btn-toolbar-static {
    display: none;
  }
}
