// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}
.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 5px;

  &:focus,:active {
    outline-color: transparent;
    outline-style: none;
    border: 1px solid #007277;
  }
}
input {
  font-size: 17px !important;
}

.topmargin {
  color: #828282;
  margin-top:-10px;
  font-weight: 400!important;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}

.form-group {
  label {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    color: $heading-gray;
  }

  &.nomargin {
    margin-left: 0;
    &.cbo{
      margin-bottom: 5px;
      label{
        line-height: 26px;
      }
    }
  }
}
.h4-label {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  color: #828282;
}
.checkbox-inline {
  color: #828282;
  font-weight: 300;
  font-size: 15px;
}

.checkbox {
  label {
    &.addressfield {
      padding-left: 15px;
    }
  }
}

#create_user{
  .form-segment-wrapper{
    margin-bottom: 30px;
  }
}

.has-error-security-nbr {
  >input{
    border-color: #a94442;
  }
  >label{
    color: #a94442;
  }
}

.skapa-annons-uthyres,
.redigera-annons-uthyres,
.skapa-annons-sokes,
.redigera-annons-sokes{
  .adverthandling{
    .form-segment-wrapper .has-error .info-text{
      border: 1px solid #a94442;
    }

    .has-error{
      input{
        border-color: #a94442;
      }
    }
  }
}
