.panel-grid {
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;

  .create-header {
    h3 {
      font-family: 'Amatic SC',cursive;
      color: #6B3756!important;
      font-weight: 700!important;
      text-align: center;
      font-size: 46px!important;
      margin-top: 20px;
      margin-bottom: 10px;

      &.normalize {
        font-family: Raleway,sans-serif;
        font-size: 20px!important;
        color: #3d3d3d!important;
        font-weight: 400!important;
        padding-bottom: 10px;
        text-transform: none;
        text-align: left;
        line-height: 1.1;
      }
      span {
        font-size: 20px!important;
        color: #3d3d3d!important;
        font-weight: 400!important;
        padding-bottom: 10px;
        text-transform: none;
        text-align: left;
        line-height: 1.1;
      }
    }

    .textwidget {
      color:black;
    }
    a {
      color: darken($btn-primary-hover, 25%);
    }

    a:hover {
      color: $btn-primary-hover;
    }
  }

  .panel-grid-cell {
    padding-left: 0!important;
    padding-right: 0!important;
  }
}

  .page-template-template-startpage {
    .panel-grid {
      .panel-grid-cell {
        padding-left: 15px !important;
        padding-right: 15px !important;
      }
    }
  }

.page-section {
  padding: 50px 20px;
  @media (min-width: $screen-md-min) {
    padding: 50px 5%;
  }
  @media (min-width: $screen-lg-min) {
    padding: 75px 8%;
  }
  &.primary {
    background: $section-primary;
    h1,h2,h3,h4,h4,p {
      color: #fff;
    }
    .textwidget {
      color: #fff;
    }
  }
  &.secondary {
    background: $section-secondary;
    h1,h2,h3,h4,h4,p {
      color: #fff;
    }
    .textwidget {
      color: #fff;
    }
  }
  &.dark {
    background: $section-dark;
    h1,h2,h3,h4,h4,p {
      color: #fff;
    }
    .textwidget {
      color: #fff;
    }
  }
  &.fancy {
    background-image: url('../images/lund.png');
    background-size: cover;
    background-attachment: fixed;
    h1,h2,h3,h4,h4,p {
      color: #fff;
    }
    .textwidget {
      color: #fff;
    }
  }
  &.centered {
    text-align: center;
  }
  .so-widget-sow-button-atom-594ad7f47f45 .ow-button-base a {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid #fff;
    text-transform: uppercase;
    &.ow-button-hover {
      &:hover {
        background: #fff !important;
        color: #000 !important;
        border-radius: 3px;
        border: 2px solid #fff;
      }
      &:active {
        background: #fff !important;
        color: #000 !important;
        border-radius: 3px;
        border: 2px solid #fff;
      }
    }
  }
}
