@media (max-width: 555px) {
  .dataTables_wrapper {
    .dataTables_paginate {
      //text-align: left !important;
      .paginate_button {
        padding: 5px !important;
        font-size: 15px;
      }
      .ellipsis {
        padding: 2px !important;
      }
    }
  }
}

@media (max-width: 350px) {
  .dataTables_wrapper {
    .dataTables_paginate {
      text-align: left !important;
      .paginate_button {
        padding: 3px !important;
        font-size: 13px;
      }
      .ellipsis {
        padding: 0!important;
      }
    }
  }
}
.dataTables_wrapper {
  th {
    color: $primary-color;
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    border: 1px solid lightgrey;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}

.dataTables_wrapper {
  margin-bottom: 75px;
}
