.widget {
  h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #5A5A5A;
  }
  ul {
    font-size: 14px;
    list-style: none;
    padding: 0;
  }
}

.main {
  h3 {
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    border: none;
    padding-bottom: 10px;
    // text-align: center;
  }
  .textwidget {
    // text-align: center;
    color: #fff;
  }
}

.sidebar {
  .widget {
    background: $primary-color;
    color: #FFF;
    padding: 5px 20px 25px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    h2 {
      color: $pink !important;
    }
    p,
    .widget_sp_image-description {
      font-weight: normal;
    }
    &.parent-links{
      padding: 25px 20px;
      .current_page_item{
        a{
          color: $section-primary-light;
          text-decoration: underline;
        }
      }
    }
  }
}
