.adpage {
  .main-container {
    background-color: $white;
  }
  .main {
    padding: 0;
  }
  .image-bg-fluid {
    background-color: #808080;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 600px;
    .img-heading {
      padding: 250px 0 50px;
      text-align: center;
      font-size: 50px;
      color: $white;
      h1 {
        font-family: 'Bebas Neue', Open sans;
        text-transform: uppercase;
        font-size: 1em;
      }
      h3 {
        font-family: 'Kalam', cursive;
        text-transform: uppercase;
        padding: 15px 0;
      }
    }
  }
  .page {
    padding: 50px 0;
    h2 {
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .page-txt {
    font-size: 20px;
  }
  .info-boxes-wrapper {
    background-color: $white;
    h1 {
      margin-bottom: 20px;
      margin-top: 0;
      text-align: center;
    }
  }
  .columns-blocks-wrapper {
    background-color: #72DABD;
    padding-left: 50px;
    padding-right: 50px;
    h3 {
      color: $white;
    }
  }
  .photo {
    padding: 5px;
  }
  .info {
    font-family: 'open-sans', helvetica;
    font-weight: 200;
    font-size: 14px;
    color: #fff;
    h3 {
      font-family: 'open-sans', helvetica;
      font-weight: bold;
    }
  }
  .partner-container {
    h1 {
      font-family: 'Bebas Neue', Open sans;
      text-transform: uppercase;
      font-size: 2em;
      color: $white;
      text-align: center;
      padding-bottom: 15px;
    }
  }
  .partner-col {
    text-align: center;
  }
  .partner-img {
    padding: 0 20px;
  }
}

.page-section.primary .textwidget {
  color: $section-primary-text;
}

.page-section .widget-title {
  color: $section-primary-text-light;
  font-size: 34px !important;
  font-family: 'Amatic SC', cursive;
}

.page-section .ow-button-base {
  a {
    color: $section-primary-text !important;
  }
}
