.adverthandling{
  form{
    margin-bottom: 40px;
  }
  .multiselect {
    height: 46px;
    border: none;
    box-shadow: none !important;
    background-color: #FFF !important;
    border: 1px solid #dedede;
    border-bottom: 2px solid #DEDEDE;
    text-align: left;
    @include transition(border .3s ease);

    &:hover,
    &:focus,
    &:active {
      border: 1px solid $primary-color !important;
      border-bottom: 2px solid $primary-color !important;
      box-shadow: none !important;
      background-color: #FFF !important;
    }
  }
  .multiselect-container {
    width: 100%;
    margin-top: -5px;
    box-shadow: none;
    border: none;
    border-left: 1px solid $primary-color;
    border-right: 1px solid $primary-color;
    border-bottom: 2px solid $primary-color;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    .checkbox{
      float: none;
      margin: 0;
      line-height: 1.428571429;
    }
    a {
      font-size: 15px;
    }

    li {
      a {
        padding: 3px 0;

        label {
          font-size: 16px;
          font-weight: bold;
          text-transform: none;
          color: #3d3d3d;
        }
      }

      &.active {
        a {
          background-color: $section-primary !important;

          label {
            color: $section-primary-text-light !important;
          }
        }
      }
    }
  }
  header{
    background: #FFF;
    border-bottom: 1px solid #f9f9f9;
    padding: 20px 30px 20px 30px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    h1{
      font-size: 16px;
      margin: 0;
    }
  }
  .form-segment-wrapper{
    background: $white;
    border-bottom: 2px solid #dedede;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-width: 0px;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 30px 30px 30px 30px;
    .input-group-addon{
      color: $black;
    }
    label{
      line-height: 40px;
      padding-top: 0;
      text-align: left;
      &.control-label{
        &:after{
          content: "*";
        }
      }
      &.info{
        font-weight: 400;
        text-transform: uppercase;
        font-size: 14px;
        display: inline-block;
        font-family: Lato,sans-serif;
        float:left;
        line-height: inherit;
        letter-spacing: normal;
        color: #828282;
      }
      &.less-line-height {
        line-height: 20px;
      }
      span{
        letter-spacing: normal;
      }
    }
    .info-text{
      background: $light-grey;
      padding: 10px;
      p{
        font-size: 12px;
      }
    }
    .multi-inputs{
      label{
        font-size: 10px;
        line-height: 16px;
      }
      div[class^='col-']{
        margin-bottom: 10px;
      }
    }
    .accomedation-date{
      display: none;
      &.visible{
        display: block;
      }
    }
    .accomedation-type{
      display: none;
      &.show{
        display: block;
      }
    }
    .checkbox-wrapper{
      display: block;
      margin-bottom: -15px;
      overflow: hidden;

      .checkbox{
        float: left;
        margin: 0 15px 15px 0;
        label{
          font-size: 14px;
          font-weight: normal;
          line-height: 100%;
          input{
            position: relative;
            margin-right: 3px;
          }
        }
      }
    }
    .img-input-wrapper{
      border-bottom: 1px solid $light-grey;
      margin-bottom: 20px;
      padding-bottom: 5px;
      &:last-child{
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .img-wrapper{
        position: relative;
        .btn-round{
          display: none;
        }
        &.img-selected{
          .btn-round{
            border-radius: 50%;
            display: block;
            height: 40px;
            right: 7px;
            padding: 5px;
            position: absolute;
            top: 7px;
            width: 40px;
            span{
              line-height: 25px;
            }
          }
        }
      }
    }
  }

  input[type=text],
  input[type=email],
  input[type=password],
  select,
  textarea {
    border: none;
    box-shadow: none !important;
    outline: 0;
    border: 1px solid #dedede;
    border-bottom: 2px solid #DEDEDE;
    padding: 0 0 0 10px;
    font-size: 16px;

    @-moz-document url-prefix() {
        padding: 0 0 0 10px;
    }

    &:focus {
      border: 1px solid $primary-color;
      border-bottom: 2px solid $primary-color;
    }
  }

}

@media (max-width:1199px) {
  .less-line-height-ipad {
    line-height: 20px!important;
  }
}
