.annonssida {
  font-family: "Open sans", sans-serif;
  font-weight: 300;
  font-size: 25px;
  position: relative;

  .print-only {
    display: none!important;
  }

  .disclaimer {
    background: #F9f9f9;
    border-radius: 5px;
    margin: 30px;
    padding: 20px;

    p {
      color: #909090;
      font-size: 13px;
      font-style: italic;
    }
  }
  .header-container {
    margin: 40px 0 0 0;

    .take-me-to-contact {
      width: 100%;
      color: #FFF;
      padding: 15px 20px;
      border-radius: 0;
    }
  }
  .info-box {
    td {
      text-align: center;
    }
    ul {
      list-style: none;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }
    li {
      display: inline-block;
      margin: 0 20px;
    }
    .profile-panel {
      // width: 400px;
      margin: 50px auto;
      background: #fafaff;
      border-radius: 4px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
    }
    .profile-section {
      .header-area {
        color:#fff !important;
        padding: 20px;
        font-size: 32px !important;
        line-height: 1.5;
        margin: 0;
        background-color: $section-primary;
        text-align: left;

        .light {
          color: rgba(255,255,255,0.8);
        }
      }
      .mid-area {
        background-color: $white;
        border-bottom: 1px solid #D8E4EF;
        border-top: 1px solid #D8E4EF;
        font-size: 17px !important;
        font-weight: 100;
        padding: 24px;
        margin: 0;
        text-align: center;
        vertical-align: middle;
      }
      .table-fill {
        border-collapse: collapse;
        height: 20px;
        margin: auto;
        padding: 5px;
        width: 100%;
        th {
          color: #D5DDE5;
          background: #1b1e24;
          border-bottom: 4px solid #9ea7af;
          border-right: 1px solid #343a45;
          font-size: 23px;
          font-weight: 100;
          padding: 24px;
          text-align: center;
          vertical-align: middle;
          first-child {
            border-top-left-radius: 3px;
          }
          last-child {
            border-top-right-radius: 3px;
            border-right: none;
          }
        }
        tr {
          border-top: 1px solid #C1C3D1;
          border-bottom-: 1px solid #C1C3D1;
          color: #666B85;
          font-size: 16px;
          font-weight: normal;
          first-child {
            border-top: none;
          }
          last-child {
            border-bottom: none;
          }
        }
        td {
          background: $white;
          padding: 20px;
          text-align: center;
          vertical-align: middle;
          font-weight: 300;
          font-size: 18px;
          border-right: 1px solid #C1C3D1;
        }
        td:last-child {
          border-right: 0;
        }
      }
      .map-block {
        overflow: hidden;
        padding-bottom: 28.25%;
        position: relative;
        height: 0;
        iframe {
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          position: absolute;
        }
      }
      #main-block {
        padding: 0 400px;
        .main-container {
          h1 {
            text-align: center;
            padding-bottom: 10px;
            font-weight: bold;
          }
          p {
            font-family: 'open-sans', helvetica;
            font-weight: 200;
            font-size: 15px;
          }
        }
      }
    }
    .profile-panel-blue {
      border-bottom-color: $btn-primary;
      .btn {
        background: $btn-primary;
        &:hover {
          background: $btn-primary-hover;
        }
      }
    }
  }
  #carousel-generic {
    margin-top: 50px;
    height: 472px;
    .item {
      img {
        margin: auto!important;
        max-height: 472px!important;
      }
    }
  }
  /** End 1st section **/
  .main-text {
    background-color: $white;
    .page {
      padding: 50px 0 30px 0;
      h2 {
        margin-bottom: 30px;
      }
      i.fa.fa-pencil-square-o{
        font-size: 40px;
      }
    }
    .page-txt {
      margin-left: 30px;
      font-size: 17px;
      line-height: 150%;
      h3{
        padding-bottom: 0;
      }
    }
    .page-btn {
      position: relative;
      padding: 14px 0;
      border: 1px $btn-grey solid;
      float: left;
      color: $btn-grey;
      cursor: pointer;
      font-family: 'open sans';
      font-size: 0.9em;
      text-transform: uppercase;
      transition: color 0.4s, background-color 0.4s;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1em;
      outline: none;
      text-align: center;
      text-decoration: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 210px;
      top: 50%;
      margin-top: 20px;
      &:hover,
      &:focus {
        transition: color 0.4s, background-color 0.4s;
        color: white;
        text-decoration: none;
        background-color: $btn-grey;
      }
    }
    .favorite {
      width:50%;
      margin: 50px auto;
      height: 1px;
      text-align: center;
      i {
        cursor: pointer;
      }
      .subscribe-text {
        margin-left: 5px;
      }
    }

    .mailed {
      i {
        cursor: pointer;
      }
    }

    .socialMedia {
      margin: 30px;
      h2 {
        margin-bottom: 0;
      }
      .socialIcons{
        margin-left: 20px;
        a {
          color: #3d3d3d!important;
          font-size: 50px;
          padding-right: 25px;
        }
      }
    }
    .profile-panel {
      // width: 340px;
      margin: 50px auto;
      background: #F1F1F1;
      border-radius: 4px;
      text-align: center;
      border-bottom: 4px solid $gray;
      font-family: 'Montserrat', sans-serif;
      h2 {
        font-size: 19px;
        line-height: 1.5;
        margin: 1em 0;
        word-break: break-word;
        padding: 0 20px;
      }
      .contact{
        h3{
          font-size: 14px;
          span{
            display: block;
            font-weight: normal;
            margin: 5px 0 0 0;
          }
        }
      }
      .stars {

        .fa-star {
          color: #D0D0D0;
          &.yellow {
            color: #FFC000;
          }
        }
      }

      .content {
        p {
          margin: 5px 0;
        }

        margin-top: 10px;
      }
    }
    .profile-image {
      position: relative;
      width: 110px;
      // height: 130px;
      margin: 30px auto 0 auto;
      padding-top: 30px;
      img {
        max-width: 100%;
      }
      .profile-status {
        position: absolute;
        right: -10px;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background: #000;
        border: 5px solid #fafaff;
        border-radius: 100%;
        &.profile-status-away {
          background: #fad920;
        }
      }
      img {
        border-radius: 100%;
      }
    }
    .profile-footer {
      padding: 30px 0;
    }
    .profile-panel-blue {
      border-bottom-color: $btn-primary;
      .btn {
        background: $btn-primary;
        color: #FFF;
        &:hover {
          background: $btn-primary-hover;
          color: #FFF;
        }
      }
    }

    .contact-form {
      margin-top:60px;
      margin-left: 30px;

      .card {
        width: 100%;
        height: 200px;
        background: #F9f9f9;
        border-radius: 5px;
        display: block;
        text-decoration: none;
        cursor: pointer;

        .icon {
          text-align: center;
          font-size: 40px;
          padding-top: 40px;

          i {
            color: #3d3d3d;
          }
        }

        .info {
          margin-top:20px;
          text-align: center;
          color: $section-primary;
          word-break: break-word;
          word-break: break-all;
          padding: 0 20px;
        }

        &:hover {
          background: #f2f2f2;
        }
      }

      .title {
        font-size: 17px;
      }

      .info {
        margin-top: 0;
        font-size: 20px;
        font-weight: bold;
      }

      a {
        color: $section-primary;
      }

      h2 {
        text-align: left;
      }

      p {
        margin-top: 14px;
        margin-bottom: 0;
        font-size: 14px;
      }

      .btn {
        margin-top: 20px;
      }

      .mailed {
        margin-top: 15px;
        height: 20px;
      }
    }
  }
  /** End 2nd section **/
  .info-section {
    font-size: 13px;
    padding: 0 40px 20px 40px;
    background: #FFF;
    margin-bottom: 15px;

    h2 {
      margin: 20px 0 10px 0;
      font-size: 20px;
    }

    dl{
      dt{
        float: left;
        font-weight: 300;
        margin-bottom: 5px;
        width: 50%;
      }
      dd{
        float: left;
        margin-bottom: 5px;
        width: 50%;
      }
    }
    .list-container ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    .fa-ul {
      margin: 0;
      list-style-type: none;
      li{
        float: left;
        margin-bottom: 5px;
        width: 50%;
        i{
          margin-right: 3px;
          text-align: center;
          width: 20px;
        }
      }
    }
  }
  /** End 3rd section **/
  .comments {
    background-color: #DADEE4;
    padding: 20px 0;
    .comments-container {
      margin: 20px auto 15px;
      width: 768px;
      * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      a {
        color: #03658c;
        text-decoration: none;
      }
      ul {
        list-style-type: none;
      }
      h1 {
        font-size: 36px;
        color: #283035;
        font-weight: 400;
      }
      a {
        font-size: 18px;
        font-weight: 700;
      }
      .comments-list {
        margin-top: 30px;
        position: relative;
      }
      /** Lines **/
      .comments-list:before {
        content: '';
        width: 2px;
        height: 100%;
        background: #c7cacb;
        position: absolute;
        left: 32px;
        top: 0;
      }
      .comments-list:after {
        content: '';
        position: absolute;
        background: #c7cacb;
        bottom: 0;
        left: 27px;
        width: 7px;
        height: 7px;
        border: 3px solid #dee1e3;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
      .reply-list:before,
      .reply-list:after {
        display: none;
      }
      .reply-list li:before {
        content: '';
        width: 60px;
        height: 2px;
        background: #c7cacb;
        position: absolute;
        top: 25px;
        left: -55px;
      }
      .comments-list li {
        margin-bottom: 15px;
        display: block;
        position: relative;
      }
      .comments-list li:after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        width: 0;
      }
      .reply-list {
        padding-left: 88px;
        clear: both;
        margin-top: 15px;
      }
      /** Avatar **/
      .comments-list .comment-avatar {
        width: 65px;
        height: 65px;
        position: relative;
        z-index: 99;
        float: left;
        border: 3px solid #FFF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        overflow: hidden;
      }
      .comments-list .comment-avatar img {
        width: 100%;
        height: 100%;
      }
      .reply-list .comment-avatar {
        width: 50px;
        height: 50px;
      }
      .comment-main-level:after {
        content: '';
        width: 0;
        height: 0;
        display: block;
        clear: both;
      }
      /** Review **/
      .comments-list .comment-box {
        width: 680px;
        float: right;
        position: relative;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
        box-shadow: 0 1px 1px rgba(0,0,0,0.15);
      }
      .comments-list .comment-box:before,
      .comments-list .comment-box:after {
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        display: block;
        border-width: 10px 12px 10px 0;
        border-style: solid;
        border-color: transparent #FCFCFC;
        top: 8px;
        left: -11px;
      }
      .comments-list .comment-box:before {
        border-width: 11px 13px 11px 0;
        border-color: transparent rgba(0,0,0,0.05);
        left: -12px;
      }
      .reply-list .comment-box {
        width: 610px;
      }
      .comment-box .comment-head {
        background: #FCFCFC;
        padding: 10px 12px;
        border-bottom: 1px solid #E5E5E5;
        overflow: hidden;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
      }
      .comment-box .comment-head i {
        float: right;
        margin-left: 14px;
        position: relative;
        top: 2px;
        color: #A6A6A6;
        cursor: pointer;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
      }
      .comment-box .comment-head i:hover {
        color: #03658c;
      }
      .comment-box .comment-name {
        color: #283035;
        font-size: 14px;
        font-weight: 700;
        float: left;
        margin-right: 10px;
      }
      .comment-box .comment-name a {
        color: #283035;
      }
      .comment-box .comment-head span {
        float: left;
        color: #999;
        font-size: 13px;
        position: relative;
        top: 1px;
      }
      .comment-box .comment-content {
        background: #FFF;
        padding: 12px;
        font-size: 15px;
        color: #595959;
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
      }
      .comment-box .comment-name.by-author,
      .comment-box .comment-name.by-author a {
        color: #03658c;
      }
      .comment-box .comment-name.by-author:after {
        content: 'autor';
        background: #03658c;
        color: #FFF;
        font-size: 12px;
        padding: 3px 5px;
        font-weight: 700;
        margin-left: 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
      }

      /** Responsive **/
      @media only screen and (max-width: 766px) {
        .comments-container {
          width: 480px;
        }
        .comments-list .comment-box {
          width: 390px;
        }
        .reply-list .comment-box {
          width: 320px;
        }
      }

    }
  }
  @media (min-width: $screen-sm-min) {
    .info-box {
      .profile-panel {
        width: 400px;
      }
      .profile-section {
        .header-area {
          font-size: 46px !important;
        }
      }
    }
    .main-text{
      .profile-panel {
        width: 340px;
      }
    }

  }
  @media (min-width: $screen-md-min) {
    .info-box {
      .profile-panel {
        width: auto;
      }
    }
  }

  @media (max-width: $screen-xs-max) {

    #carousel-generic{
      height: 300px;
      overflow: hidden;
      display: block;
      clear: both;
      .carousel-inner{
        .item {
          img{
            max-height: 300px !important;
          }
        }
      }
    }
  }
}

@media print{
  .carousel-inner {
    .item {
      width: 50%;
      float:left;
      display:none;
      img {
        max-height: 450px!important;
      }
    }
  }

  .socialMedia,.favorite,.mailed {
    display: none;
  }

  .print-start {
    margin-top:-150px!important;
  }

  h2 {
    &.print-padding {
      padding-top: 50px !important;
    }
    &.print-only {
      padding-top: 50px !important;
      padding-left: 15px !important;
    }
  }

  .live-only {
    display: none!important;
  }

  .print-only {
    display: inline-block!important;
  }

  .carousel-indicators {
    display:none;
  }

  .carousel-control {
    display:none;
  }

  .info-section {
    // page-break-before: always;
    // page-break-after: always;
  }

  .annonssida {

    a[href]:after {
      content: "";
    }

    h1{
      margin-top: 30px;
    }
    .info-section {
      padding: 0 40px 20px 0;
      page-break-after: always;
      dl dt{
        width: 18%;
      }
      dl dd{
        width: 82%;
      }
      .fa-ul li {
        width: 100%;
      }
      .col-md-4.col-sm-6{
        width:100%;
        .printleft{
          width: 50%;
          float: left;
          margin-bottom: 25px;
        }
        .printright{
          width: 50%;
          float: right;
          margin-bottom: 25px;
        }
      }

    }

    #carousel-generic{
      display: none;
    }
    .header-container {
      margin-top:-150px;
    }

    .info-box {
      .profile-panel-blue {
        margin:0;

        .btn {
          display:none;
        }
      }
      .profile-section {
        .header-area {
          color: #6B3756!important;
          font-family: Montserrat,sans-serif!important;
          font-size:24px!important;
          text-align:left;
          padding-left: 0;
        }
        .mid-area {
          border-bottom: none;
          border-top: none;
        }
        .map-block {
          display: none;
        }
        .table-fill {
          tr{
            border-top: none;
          }
          td {
            padding:10px 0;
            text-align: left;
            border-right: none;
          }
        }
      }
    }

    .main-text {
      .page {
        // page-break-before: always;
        padding:0;
        margin-bottom: 50px;
        .col-lg-6.col-md-6{
          width: 100%;
        }
      }

      .profile-footer {
        display: none;
      }

      .profile-panel {
        width:300px;
      }

      .profile-panel-blue {
        border-bottom-color: #FFF;
        page-break-after: always;
        display: none;
      }
      .page-txt{
        margin-left: 0;
        h2{
          font-size: 22px!important;
          color: #3d3d3d!important;
          font-weight: 400!important;
        }
        > h3:first-of-type{
          margin-top: 60px !important;
        }
        .tag{
          padding: 5px 10px 5px 0;
        }
      }

      .contact-form {
        page-break-before: always;
        margin-left: 0;
        h2{
          font-size: 22px!important;
          color: #3d3d3d!important;
          font-weight: 400!important;
        }
        .col-md-4.col-xs-12{
          width: 100%;
        }
        .card {
          float: left;
          display: inline-block;
          height: 80px;

          &.print-only {
            display: inline-block!important;
          }
          .icon {
              text-align: left;
              padding-top: 0;
              float: left;
              font-size: 28px;
              padding-right: 15px;
          }
          .info{
            text-align: left;
            font-weight: 300;
            float: left;
            font-size: 17px;
            line-height: 26px;
          }
        }
      }
    }
    .carousel-inner.print-only{
      display: block !important;
      .item {
        width: 50%;
        float:none;
        display:block;
        margin-bottom: 20px;
        img{
          height: inherit !important;
        }
      }
    }
  }
  .footer {
    display:none;
  }
}
