label.control-label i.fa-info-circle {
  padding-left: 5px;
}

.createaccount{
  form{
    margin-bottom: 40px;
    header{
      background: $gray-light;
      border: 1px solid $light-grey;
      border-bottom-width: 0px;
      padding: 12px;
      h1{
        font-size: 16px;
        margin: 0;
      }
    }
    .form-segment-wrapper{
      background: $white;
      border: 1px solid $light-grey;
      border-top-width: 0px;
      margin-bottom: 40px;
      overflow: hidden;
      padding: 20px;

      .input-group-addon{
        color: $black;
      }
      label{
        line-height: 40px;
        padding-top: 0;
        text-align: left;
        &.control-label{
          &:after{
            content: "*";
          }
        }
      }
      .multi-inputs{
        label{
          font-size: 10px;
          line-height: 16px;
        }
        div[class^='col-']{
          margin-bottom: 10px;
        }
      }
      .accomedation-date{
        display: none;
        &.visible{
          display: block;
        }
      }
      .accomedation-type{
        display: none;
        &.show{
          display: block;
        }
      }
      .checkbox-wrapper{
        display: block;
        margin-bottom: -15px;
        overflow: hidden;

        .checkbox{
          float: left;
          margin: 0 15px 15px 0;
          label{
            font-size: 12px;
            font-weight: normal;
            line-height: 100%;
            input{
              position: relative;
              margin-right: 3px;
            }
          }
        }
      }
      .img-wrapper{
        position: relative;
        .btn-round{
          display: none;
        }
        &.img-selected{
          .btn-round{
            border-radius: 50%;
            display: block;
            height: 40px;
            right: 7px;
            padding: 5px;
            position: absolute;
            top: 7px;
            width: 40px;
            span{
              line-height: 25px;
            }
          }
        }
      }
    }
  }
}
