.editaccount{
  header{
    background: $gray-light;
    border: 1px solid $light-grey;
    border-bottom-width: 0px;
    padding: 12px;
    h1{
      font-size: 16px;
      margin: 0;
    }
  }
  form{
    background: $white;
    border: 1px solid $light-grey;
    border-top-width: 0px;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 20px;

    label{
      line-height: 40px;
      &.control-label{
        padding-top: 0;
        text-align: left;
        &:after{
          content: "*";
        }
      }
    }
    .img-wrapper{
      position: relative;
      .btn-round{
        display: none;
      }
      &.img-selected{
        .btn-round{
          border-radius: 50%;
          display: block;
          height: 40px;
          right: 7px;
          padding: 5px;
          position: absolute;
          top: 7px;
          width: 40px;
          span{
            line-height: 25px;
          }
        }
      }
    }
    .checkbox-wrapper{
      display: block;
      margin-bottom: -15px;
      overflow: hidden;

      .checkbox{
        float: left;
        margin: 0 15px 15px 0;
        label{
          font-size: 12px;
          font-weight: normal;
          line-height: 100%;
          input{
            position: relative;
            margin-right: 3px;
          }
        }
      }
    }
    .advert-watch-wrapper{
      float: none;
      margin: 0 auto;
      width: 100%;
      padding: 20px 20px 0 20px;

      @media (min-width: $screen-md-min) {
        float: left;
        width: 50%;
      }
      @media (min-width: $screen-lg-min) {
        float: left;
        width: 33%;
      }
      .remove-watch{
        overflow: hidden;
        input{
          height: 0;
          line-height: 0;
          margin: 0;
          visibility: hidden;
        }
      }
    }
    &.user-adverts{
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          border-bottom: 1px solid $light-grey;
          margin-bottom: 10px;
          padding-bottom: 10px;
          h2{
            font-size: 14px;
            font-weight: bold;
            margin: 0 0 10px 0;
            @media (min-width: $screen-md-min) {
              margin-bottom: 0px;
            }
            span{
              font-size: 10px;
              font-weight: normal;
              display: block;
              margin: 5px 0 0 0;
            }
          }
          &:last-child{
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
          }
        }
      }

    }
  }
}
