.footer {
  margin-top: 70px;
  background-color: $section-primary;
  padding: 50px 0 50px 0;

  // padding: 30px 0;
  // background-color: #151515;
  // color: #fff;

  .widget h3 {
    color: #fff;
    font-weight: 500;
    border-bottom: none;
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.21);
  }

  .textwidget {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
  }

  ul#menu-footer {
    list-style: none;
    padding: 0;
    li a {
      color: #fff;
      font-weight: lighter;
    }
  }

  ul#menu-footer-engelska {
    list-style: none;
    padding: 0;
    li a {
      color: #fff;
      font-weight: lighter;
    }
  }

  a.social {
    color: #fff;
    font-size: 40px;
    padding-right: 25px;
    &:hover {
      opacity: 0.8;
    }
  }

  .copyright {
    margin-top: 50px;
    text-align: center;
    .textwidget {
      color: #efefef;
      text-transform: uppercase;
    }
  }
}
