.search-wrapper {
  input[type=search] {
    border: none;
    box-shadow: none !important;
    outline: 0;
    border: none;
    border-bottom: 2px solid #DEDEDE;
    padding: 6px 22px;
    height: 30px;
    font-size: 12px;
    display: none;

    &:focus {
      border: none;
      border-bottom: 2px solid $primary-color;
    }
  }

  .search-submit {
    border: 0;
    padding: 3px 10px;
    color: #FFF;
    border-bottom: 2px solid #C3C3C3;
    background-color: #D6D6D6;
    margin-left: 5px;
    margin-bottom: 2px;
    width: 35px;

    .fa {
      color: #FFF;
    }

    &:hover {
      //color: #FFF;
      background-color: #ccc !important;
    }
  }
}

.navbar {
  background-color: #FDFDFD;
  box-shadow: 0px 2px 0px rgba(0,0,0,0.1);
  border-bottom: 0;

  &.navbar-inverse{
    .navbar-toggle:focus,
    .navbar-toggle:hover {
      background-color: $primary-darker-color;
    }
  }

  .navbar-header {
    bottom: -27px;
    position: relative;
  }
  .navbar-brand {
    font-size: 16px;
    color: #7c5682;
    img {
      width: 174px;
      margin-top: -26px;
    }
  }

  .navbar-toggle{
    background-color: $primary-darker-color;
  }



  ul#menu-primary-menu, ul#menu-primary-menu-engelska {
    font-family: 'Raleway', sans-serif;

    li {
      padding: 26px 10px 0 10px;
      margin-top: 0;
      margin-bottom: 10px;

      a {
        font-weight: 600;
        color: #564444;
        font-size: 14px;
        padding-left: 0;
        padding-right: 0;
        letter-spacing: 0.5px;
      }

      &:first-child,
      &:nth-child(2) {

        a {
          display: inline-block;
          background-color: #F7F7F7;
          border-bottom: 2px solid #DEDEDE;
          padding: 10px;
          border-radius: 4px;
          -webkit-transition: all .2s;
          -o-transition: all .2s;
          transition: all .2s;

          &:hover {
            //color: #FFF;
            //background-color: $primary-darker-color !important;
            border-bottom: 2px solid $primary-darker-color;
          }

          &:after,
          &:before {
            display: none !important;
          }
        }
      }

      ul.sub-menu {
        display: none;
        position: absolute;
        background-color: #FDFDFD;
        list-style: none;
        padding: 20px 20px 20px 20px;
        width: 220px;
        margin-left: -50px;
        box-shadow: 0px 2px 0px rgba(0,0,0,0.1);

        li {
          padding: 10px;
          width: 100%;
          padding: 0 10px 0 20px;

          a {
            width: auto;
            list-style: none;
            display: block;
            background-color: #fff;
            border: none;
            color: #564444;
            padding: 10px;

            &:after,
            &:before {
              display: none !important;
            }

            &:hover {
              background-color: $primary-color !important;
              color: white !important;
              border-radius: 4px;
              border-bottom: none;
            }
          }
        }
      }

      &:hover {
        ul {
          display: block;
        }
      }
    }

    >.menu-item:first-of-type,
    >.menu-item:nth-of-type(2){
      margin-left: 5px;
      margin-right: 5px;
      padding-left: 0;
      padding-right: 0;
    }
    >.menu-item:not(:first-of-type):not(:nth-of-type(2)){
      margin-left: 5px;
      margin-right: 5px;
      padding-left: 0;
      padding-right: 0;
      margin-top: 0;
      a{
        padding: 10px;
        &:hover{
          background-color: $primary-color;
          color: white;
          border-radius: 4px;
        }
      }
      &.current_page_item{
        a{
          background-color: $primary-color;
          color: white;
          border-radius: 4px;



        }

        ul.sub-menu {
          li {
            a {
              background-color: #fff;
              color: #564444;
              &:hover {
                color: #564444 !important;
                background-color: #fff !important;
                border-bottom: none;
              }
            }
          }
        }

      }
    }
    .menu-item {
      a {

        &:hover {
          color: $primary-color;
          &:before {
            top: 36px;
            opacity: 1;
          }
        }

        &:before {
          // -webkit-transition: all 0.2s;
          // transition: all 0.2s;
          // content: "";
          // position: absolute;
          // height: 2px;
          // // background-color: $primary-color;
          // width: 100%;
          // left: 0;
          // top: 30px;
          // opacity: 0;
        }
      }
    }

    .current-menu-item {
      a {
        &:before {
          top: 36px;
          opacity: 1;
        }
      }
    }
  }

  #menu-primary-menu, #menu-primary-menu-engelska {
    float: right;
    li a {
      &:hover {
        color: #777 ;
      }
    }
  }
}

.banner.top-link{
  .login, .logout{
    margin-bottom: 0;
    padding: 0;
  }
}

.top-link {
  background-color: #F7F7F7;
  border-bottom: 1px solid #E8E8E8;
  // height: 30px;
  padding: 10px;
  z-index: 1000;

  .links {
    margin-left: -15px;
  }

  p {
    font-size: 14px;
    color: #5A4246;
    font-weight: 400;
  }

  a {
    color: #5A4246;
    font-weight: bold;
    letter-spacing: 1px;
    // padding-right: 5px;
    font-size: 14px;
    text-decoration: none;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;

    &.login:after {
      content: '|';
      padding-right: 5px;
      padding-left: 5px;
    }
    &.logout:before {
      content: '|';
      padding-right: 5px;
      padding-left: 5px;
    }

    &:hover {
      color: $primary-color;
    }
  }
}


@media (max-width: $screen-sm-max)  {
  .banner.top-link{
    .col-sm-6.col-md-3.links{
      a{
        float: none!important;
        &:last-of-type{
          float: left!important;
          padding-top: 2px;
          padding-left: 15px;
        }
      }
    }
  }
}

@media (max-width: $screen-sm-max) and (min-width: $screen-xs-max)  {
  .banner{
    .container{
      width: 100%;
    }
  }

  .navbar{
    .container{
      width: 100%;

      .navbar-header{
        position: relative;
        display: block;
        float: none;
        bottom: 0;
      }
      .navbar-brand {
        img {
          margin-top: 0;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .navbar {
    .navbar-header {
      bottom:0;
    }
  }
}

@media (max-width: $screen-xs-max)  {

  .navbar{
    min-height: 60px;

    ul#menu-primary-menu{
      width: 100%;
      float: none;
      clear: both;
      text-align: left;
      margin-top: 20px;
      li{
        float:none;
        display:block;
        // *display:inline; /* ie7 fix */
        // *zoom:1; /* hasLayout ie7 trigger */
        vertical-align: top;
        padding-top: 0;
        padding-bottom: 10px;
        ul.sub-menu{
          display: block;
          position: relative;
          padding: 0;
          padding-left: 30px;
          padding-bottom: 20px;
          box-shadow: none;
          li a{
            font-weight: 600;
            color: #564444;
            font-size: 14px;
          }
        }
      }

      li{
        > a{
          padding-bottom: 0;
          background-color: transparent;
          border: 0;
          color: #873B45;
          font-weight: bold;
          padding-left: 0;
          font-size: 16px;
        }
      }
    }

    ul#menu-primary-menu-engelska{
      width: 100%;
      float: none;
      clear: both;
      text-align: left;
      margin-top: 20px;
      li{
        float:none;
        display:block;
        // *display:inline; /* ie7 fix */
        // *zoom:1; /* hasLayout ie7 trigger */
        vertical-align: top;
        padding-top: 0;
        padding-bottom: 10px;
        ul.sub-menu{
          display: block;
          position: relative;
          padding: 0;
          padding-left: 30px;
          padding-bottom: 20px;
          box-shadow: none;
          li a{
            font-weight: 600;
            color: #564444;
            font-size: 14px;
          }
        }
      }

      li{
        > a{
          padding-bottom: 0;
          background-color: transparent;
          border: 0;
          color: #873B45;
          font-weight: bold;
          padding-left: 0;
          font-size: 16px;
        }
      }
    }

    .container{

      .navbar-header{
        position: relative;
      }
      .navbar-brand {
        img {
          margin-top: -5px;
        }
      }
    }
  }

  .navbar-toggle{
    margin-top: 13px;
  }

}

@media (max-width: $screen-lg) and (min-width: $screen-md)  {
  .navbar.navbar-inverse{
    >.container{
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .navbar {
    ul#menu-primary-menu, ul#menu-primary-menu-engelska {
      li {
        ul.sub-menu {
          margin-left: -110px;
          left: 50%;
        }
      }
    }

  }
  .search-wrapper {
    .pull-right{
      margin-right:20px;
    }
  }
}

@media (min-width: $screen-md-min) {
  .search-wrapper {
    // position: absolute;
    .pull-right{
      margin-right:30px;
    }
  }
  .top-link {
    .links {
      padding-bottom: 10px;
      float:right !important;
    }
  }
}
