body.page-template-template-startpage {

  main {
    padding: 0;
    margin: 0;
  }
  .image-bg-fluid {
    margin-top: -20px;
    background-color: #808080;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 660px;

    .left {
      background-color: rgba(0,0,0, 0.2);

      .quick-search {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(#FFF, 0.9);
        width: 100%;
        max-width: 490px;
        height: 660px;
        margin: 0 auto;

        .wrapper {
          height: 490px;
          width: 100%;
          padding: 0 40px;

          input[type=text] {
            border: none;
            box-shadow: none;
            border-bottom: 2px solid #C7C7C7;
            padding: 22px;
            font-size: 14px;

            &:focus {
              border-bottom: 2px solid $primary-color;
            }
          }

          .search-text-icon {
            position: absolute;
            right: 30px;
            top: 10px;
            color: #BBB;
          }

          h1 {
            text-align: center;
            margin: 0 0 60px 0;
            font-weight: bold;
          }

          p {
            font-weight: bold;
            padding: 20px 0 4px 0;
            margin: 0;
            font-size: 14px;
          }

          .multiselect {
            height: 46px;
            border: none;
            box-shadow: none;
            border-bottom: 2px solid #C7C7C7;
            @include transition(border .3s ease);

            &:hover,
            &:focus,
            &:active {
              border-bottom: 2px solid $primary-color;
              background-color: #FFF !important;
            }
          }
          .multiselect-container {
            li {
              a {
                padding: 3px 0;

                label {
                  font-size: 14px;
                  font-weight: bold;
                  text-transform: none;
                  color: #3d3d3d;
                }
                border-top: 1px solid rgba(#FFF, 0.2);
              }

              &.active {
                a {
                  background-color: $section-primary !important;

                  label {
                    color: $section-primary-text-light !important;
                  }
                }
              }
            }
          }
          .multiselect-container {
            width: 100%;
            margin-top: -5px;
            border: none;
            box-shadow: none;
            border-bottom: 2px solid $primary-color;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            -webkit-border-bottom-right-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            -moz-border-radius-bottomright: 5px;
            -moz-border-radius-bottomleft: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
          }

          .cta-wrapper {
            text-align: center;
            margin-top: 30px;

            .btn-brand-primary {
              border-radius: 5px;
              display: inline-block;
              padding: 15px 40px;
              cursor: pointer;
              background-color: $section-primary-light !important;
              color: #FFF;
            }
          }
        }
      }
    }

    .right {
      height: 660px;
      background-color: rgba(0,0,0, 0.2);

      .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 700px;
        margin-right: 100px;

        .promo {
          display: block;
          .bubble {
            display: block;
            text-decoration: none !important;
            position: absolute;
            right: 40px;
            top: 10px;
            height: 260px;
            width: 260px;
            background-color: rgba($primary-color, 0.6);
            border-radius: 50%;
            text-align: center;

            -ms-transform: rotate(20deg); /* IE 9 */
            -webkit-transform: rotate(20deg); /* Safari */
            transform: rotate(20deg); /* Standard syntax */

            h1 {
              padding-top: 35px;
              color: #FFF !important;
            }

            p {
              color: #FFF;
              shape-inside: circle(50% at 50% 50%);
              padding: 0 15px;
            }

            span {
              color: #FFF;
              text-decoration: none;
            }
          }
        }

        .uthyrare {
          height: 200px;
          text-align: center;

          h1 {
            color: #FFF !important;
            font-weight: bold;
            margin: 0 0 20px 0;
            font-size: 80px !important;
          }

          p {
            color: #FFF;
            text-align: center;
            margin-top: 20px;
            background-color: rgba(#000, 0.5);
            border-radius: 4px;
            padding: 6px;
            font-size: 20px;
          }
        }
      }
    }

  }

  .info {
    background-color: $header-primary;
    height: 200px;
    border: 10px solid red;
  }

  .latest-estates {

    h2 {
      font-family: 'Amatic SC', cursive;
      font-size: 46px !important;
      color: $header-primary !important;
      font-weight: bold;
    }

    &:after {
      content:" ";
      width: 0;
    	height: 0;
    	border-left: 50px solid transparent;
    	border-right: 50px solid transparent;
    	border-top: 60px solid #FFF;
      position: absolute;
      margin-left: calc(50% - 90px);
      z-index: 9999;
    }
  }

  .widget-listing-map {
    .listings {
      padding: 20px 0 30px 0;
      background: #FFF;

      #listing-table {
        padding: 20px;

        tr {
          td,
          th {
            padding: 10px 20px;
            letter-spacing: 0.5px;
            font-size: 17px;
          }
        }
      }

      .pagination {
        display: none;
      }
    }

    a {
      color: $section-primary;
    }

    a.btn {
      background-color: #e79295;
      color: #FFF;
      text-transform: uppercase;
      border: 2px solid #e79295;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      padding: 8px 16px;
    }

    .show-all {
      margin-right: 20px;
    }
  }
  .page {
    padding: 50px 0;
    h2 {
      text-align: center;
      margin-bottom: 30px;
    }
  }

  .about-us {
    h1 {
      margin: 0;
      padding: 0;
    }

    p {
      line-height: 150%;
    }
  }

  .image-icon-cell {
    padding-top: 6px;
  }

  #columns-block {
    background-color: #72DABD;
    padding-left: 50px;
    padding-right: 50px;
  }
  .photo {
    padding: 5px;
  }
  .info {
    font-family: 'open-sans', helvetica;
    font-weight: 200;
    font-size: 14px;
    color: #fff;
    h3 {
      font-family: 'open-sans', helvetica;
      font-weight: bold;
    }
  }
  .map-block {
    overflow: hidden;
    padding-bottom: 28.25%;
    position: relative;
    height: 0;
    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
  #main-block {
    padding: 0 400px;
    .main-container {
      h1 {
        text-align: center;
        padding-bottom: 10px;
        font-weight: bold;
      }
      p {
        font-family: 'open-sans', helvetica;
        font-weight: 200;
        font-size: 15px;
      }
    }
  }
  tr {
    &:hover {
      background: #efefef;
      cursor: pointer;
    }
  }
  .partner-container {
    h1 {
      font-family: 'Bebas Neue', Open sans;
      text-transform: uppercase;
      font-size: 2em;
      color: $white;
      text-align: center;
      padding-bottom: 15px;
    }
  }
  .partner-col {
    text-align: center;
  }
  .partner-img {
    padding: 0 20px;
  }
  .panel-grid{
    h3{
      font-size: 18px;
      .textwidget{
        font-size: 14px;
      }
    }
  }
  .front-boxes{
    img{
      margin: 0 auto;
      max-height: 150px;
      height: auto;
      width: auto;
    }
    .panel-grid-cell{
      .widget{
        .panel-grid{
          .panel-grid-cell{
            float: left !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
            width: 30% !important;
            &:last-child{
              float: left !important;
              padding-left: 15px !important;
              padding-right: 15px !important;
              width: 70% !important;
            }
          }
        }
      }
    }
  }
  .partners-wrapper{
    img{
      max-height: 200px;
      width: auto;
    }
  }
  footer {
    margin-top: -20px !important;

    .widget {
      h3 {
        font-family: 'Amatic SC', cursive;
        font-size: 36px;
        text-transform: uppercase;
      }
    }
  }


    @media (max-width: $screen-md-max) {
      .image-bg-fluid .right .wrapper{
        margin-right: 0;
      }
    }

  @media (max-width: $screen-sm-max) {
    .navbar #menu-primary-menu{
      float: left;
    }
  }


  @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max)  {
    .image-bg-fluid {
      height: auto;
    }

    #pl-49{
      .listings{
        padding-left: 15px !important;
        padding-right: 15px !important;
        overflow: auto;
      }
    }
  }


  @media (max-width: $screen-xs-max){

    #pl-49{
      clear: both;
      .listings{
        padding-left: 15px !important;
        padding-right: 15px !important;
        overflow: auto;
      }
    }

    .image-bg-fluid {
      height: auto;
      .left{
        float: none;
      }
      .right{
        float: none;
      }
    }

  .navbar #menu-primary-menu {
    float: none;
    padding-left: 5px;
  }

  }
}

footer {
  .widget {
    h3 {
      font-family: 'Amatic SC', cursive;
      font-size: 36px !important;
      text-transform: uppercase;
    }
  }
}
