body.page-template-template-information {
  main {
    padding: 0;
    margin: 0;
  }

  .so-panel {
    background: #6B3756;
    padding: 35px 35px 30px 40px;
    box-shadow: 0 2px 0 rgba(0,0,0,.1);
    margin-bottom: 20px;
    border-radius: 5px;
    margin:15px!important;
    height: 250px;

    h3 {
      font-family: 'Amatic SC',cursive;
      color: #FFF!important;
      font-size: 30px!important;
      margin-bottom: 8px;
      margin-top: 0;
      text-decoration: none;
    }

    h1 {
      font-family: 'Amatic SC',cursive;
      color: #FFF!important;
      font-size: 30px!important;
      margin-bottom: 8px!important;
      margin-top: 0!important;
      text-decoration: none;
      text-align:left!important;
      font-weight: 500!important;
      padding-bottom: 10px;
    }

    .information {
      .widget-title {
        text-align: center;
        color: #6B3756!important;
        font-weight: 700;
        font-size: 60px!important;
        margin-top: 20px;
      }
      .textwidget {
        font-family: Raleway,sans-serif!important;
        letter-spacing: 1px;
        color:#3d3d3d!important;
        font-size:16px;
      }

      .so-panel {
        background: white;
        box-shadow: none;
        height: auto;
        padding: 0 0 0 0;
      }
    }
  }

  .image-bg-fluid {
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 300px;
    margin-top: -20px;

    .wrapper {
      background-color: rgba(0,0,0,0.4);
      height: 300px;
    }

    .container-fluid {
      height: 600px;
      text-align: center;

      h1 {
        margin-top: 200px;
        color: #FFF !important;
        font-weight: bold;
        font-size: 60px !important;
      }

      p {
        margin-top: 20px;
        font-size: 18px;
        color: #FFF;
      }
    }
  }

  .information-list {
    padding-top: 100px;
    padding-right: 100px;

    &.content{
      padding-top: 30px;
      padding-right: 100px;
      padding-left: 100px;

      .box {
        padding: 35px 35px 30px 40px!important;
      }
    }

    .box {
      background: #6B3756;
      padding: 20px 20px 10px 20px;
      box-shadow: 0 2px 0px rgba(0,0,0,0.1);
      margin-bottom: 20px;
      border-radius: 5px;

      h2 {
        font-family: 'Amatic SC',cursive;
        color: #FFF!important;
        //color: #3d77cd !important;
        font-size: 30px !important;
        margin-bottom: 8px;
        margin-top: 0;
        text-decoration: underline;
      }

      ul {
        li {
          padding: 4px 0;
          a {
            //color: #626E80;
            color: #d9d9d9;
            //font-weight: bold;
          }
        }
      }
    }

  }

  .image-slider-wrapper {
    background: #FFF;

    .container-slider {
      text-align: center;
    }

    h1 {
      text-align: center;
      color: $primary-color;
      font-weight: bold;
      font-size: 60px;
      margin-top: 50px;
      &.title {
        font-size: 60px!important;
      }
    }

    .image-slider {
      text-align: left;
      padding-top: 15px;
      padding-bottom: 15px;
      background: #efefef;
      margin-top: 60px;
      margin-bottom: 100px;
      height: auto;
      display: inline-block;
      margin-left: 15px;

      .carousel-control {
        display: none;
      }

      .carousel-indicators {
          li {
            text-indent: 0;
            margin: 0 2px;
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 100%;
            line-height: 30px;
            color: #fff;
            background-color: #999;
            transition: all 0.25s ease;
            &.active, &:hover {
              margin: 0 2px;
              width: 30px;
              height: 30px;
              background-color: $primary-color;
            }
          }
      }

      .item {
        .text {
          background: #fff;
          height: 506px;
          padding: 0 50px 0 30px;

          h2 {
            color: $primary-color;
            margin-bottom: 20px;
          }
          p {

          }

          a {
            font-style: italic;
          }
        }
      }
    }
  }
}

.partners {
  padding: 0;
  height: 520px;
  background-image: cover;
  background-position: center center;

  .wrapper {
    height: 550px;
    background-color: rgba(0,0,0,0.4);
    text-align: center;

    div {
      margin-top: -20px;
      width: 20%;
      display: table;
      float: left;

      &.img {
        max-height: 200px;
        width: auto;
      }
    }

    .row {
      width: 100%;

      div {
        width: 20%;
        display: table;
        float: left;

      }
    }

    h1 {
      color: #FFF !important;
      font-weight: bold;
      font-size: 60px !important;
      padding-top: 40px;
      padding-bottom: 50px;
      font-weight: 500;
    }

    img {
      max-height: 200px;
      width: auto;
    }
  }
}

body.page-template-template-information footer {
  margin-top: 0 !important;
}

@media (max-width: 1199px) {

  .information-list {
    padding: 100px;
    &.content {
      padding:0;
    }
  }
  .col-lg-6 {
    margin: auto;
  }
  .box {
    text-align: center;
  }

  .partners {
    height: 610px;
    .wrapper {
      height: 610px;
    }
  }
}

@media (max-width: 991px) {
  .image-slider {
    height: 1120px!important;
  }

  #mobilePad {
    display:inline-block!important;
  }
}

@media (max-width: 714px) {
  #image3rd {
    left:25%;
  }
}

@media (max-width: 488px) {
  #mobilePad-min {
    display:inline-block!important;
  }
  #partnerText {
    left:25%;
  }
}

@media (max-width: 465px) {
  #image2nd {
    left:25%;
    margin-top:20px;
    margin-bottom: 50px;
  }
  #image3rd {
    margin-top:20px;
  }
}

@media (max-width: 365px) {
  #mobilePad-min {
    display:none!important;
  }
  #partnerText {
    left:25%;
  }
}
