.landing {
  .image-bg-fluid {
    background-color: 0;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 600px;

    .seperation {
      height: 600px;
      text-align: center;

      h1 {
        margin-top: 160px;
        color: #FFF !important;
        font-weight: bold;
        font-size: 50px !important;
      }

      p {
        font-size: 16px;
        color: #FFF;
        margin-top: 30px;
        margin-bottom: 40px; 
      }

      .btn-button-img {
        text-transform: uppercase;
        border: 2px solid #e79295;
        background-color: rgba(231, 146, 149, 1);
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        padding: 15px 30px;
        color: #FFF;

        &:hover {
          background-color: #e79295;
          color: #FFF;
        }
      }

      &.ads {
        background-color: rgba(135, 58, 69, 0.4);
      }

      &.information {
        background-color: rgba(61, 119, 205, 0.3);

        .btn-button-img {
          border: 2px solid rgba(61, 119, 205, 1);
          background-color: rgba(61, 119, 205, 1);

          &:hover {
            background-color: rgba(61, 119, 205, 1);
            color: #FFF;
          }
        }

      }
    }
  }
}
