.listing-page {
  margin: -20px -15px 0 -15px !important;
  padding: 0 !important;
  background: #f9f9f9;

  .filters {
    h1 {
      font-weight: bold;
      font-size: 70px;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }

  .listing-form {

    input[type=text] {
      border: none;
      box-shadow: none;
      border-bottom: 2px solid #DEDEDE;
      padding: 0px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 14px;

      padding:0!important\9;
      *padding:0!important;
      _padding:0!important;

      @-moz-document url-prefix() {
        padding: 0 0 0 10px;
      }

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        padding: 0!important;
      }

      &:focus {
        border-bottom: 2px solid $primary-color;
      }
    }

    .default-filters {
      margin: 20px 15px 10px 15px;

      p.name {
        font-size: 13px;
        font-weight: bold;
        color: #3d3d3d;
      }

      #price-filter {
        margin-top: 14px;
        border: none;

        .noUi-base {
          border: none;

          .noUi-background {
            border: none;
            background-color: #FFF !important;
            box-shadow: 0;
            border-bottom: 2px solid #dedede;
            box-shadow: none;
            border-radius: 4px;
          }
          .noUi-connect {
            background-color: $section-primary;
            border-radius: 6px;
          }

          .noUi-handle {
            border: none;
            box-shadow: none;
            border-bottom: 2px solid #DEDEDE;

            &:before,
            &:after {
              background: #3d3d3d;
            }
          }
        }
      }

      .values {
        margin-top: 10px;

        #value-span,
        #value-input {
          text-align: center;
          font-weight: bold;
          color: $section-primary;
          font-size: 15px;
          letter-spacing: 1px;
        }
      }
    }

    .advanced-filters {
      margin: 0 0 10px 0;
      padding: 10px 0 0 0;

      .dropdown {
        width: 100%;
      }

      .btn-default {
        border-bottom: 2px solid $primary-color;
        background-color: #FFF !important;
      }

      .multiselect {
        height: 46px;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid #DEDEDE;
        @include transition(border .3s ease);

        &:hover,
        &:focus,
        &:active {
          border-bottom: 2px solid $primary-color;
          background-color: #FFF !important;
        }
      }
      .multiselect-container {
        width: 100%;
        margin-top: -5px;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid $primary-color;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      p.name {
        font-size: 13px;
        font-weight: bold;
        color: #3d3d3d;
      }
    }

    .cta {
      margin-top: 10px;
      margin-bottom: 20px;
      text-align: center;
    }

    .multiselect-container {
      li {
        a {
          padding: 3px 0;

          label {
            font-size: 14px;
            font-weight: bold;
            text-transform: none;
            color: #3d3d3d;
          }
        }

        &.active {
          a {
            background-color: $section-primary !important;

            label {
              color: $section-primary-text-light !important;
            }
          }
        }
      }
    }
  }

  .call-to-actions {
    margin-top: 10px;
    text-align: center;

    #search-listings {
      margin-left: 15px;
    }
  }

  #loading {
    margin: 80px auto 0 auto;
    text-align: center;
    display: none;
  }

  #no-search-results {
    margin: 80px auto 0 auto;
    text-align: center;
    display: none;
    font-size: 18px;
    font-weight: bold;
    color: #ccc;
  }

  .listing-table-wrapper {
    margin-top: 20px;
    padding: 40px 40px 0 40px;
    display: none;
    background: #FFF;
    border-bottom: 2px solid #dedede;
    border-radius: 4px;

    .pagination {
      text-align: center;
      margin: 10px 0 40px 0;

      li {
        border: 0;
        border-bottom: 2px solid #5F2830;
      }

      .active {
        a {
          color: #fff;
          background: #873B45;
        }
      }

    }
  }

  #listing-table {

    thead {
      th {
        border-bottom: 0 !important;
        padding: 10px 5px !important;
        font-size: 12px;
        letter-spacing: 1px;
        color: $primary-color;
        cursor: pointer;

        &:hover {
          background-color: #fefefe;
        }
      }
    }

    tbody {
      padding: 20px 15px !important;;
    }

    .listing-property {
      cursor: pointer;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      border-bottom: none;

      &:nth-child(even) {
        background-color: #F6F6F6;
      }

      a.link-primary {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        color: #873B45;

        &:hover {
          color: #873B45;
        }
      }

      a.view-ad {
        background-color: #e79295;
        color: #FFF;
        text-transform: uppercase;
        border: 2px solid #e79295;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        padding: 8px 16px;
      }

      td {
        padding: 15px 5px;
        border-top: none;
        font-weight: bold;
        color: #8E939C;
        font-size: 14px;
        letter-spacing: 1px;

        a {
          font-size: 16px;
          letter-spacing: 0;
          &.btn {
            font-size: 13px;
            background-color: #6B3756;
            color: #FFF;
            border: 2px solid #6B3756;
            -webkit-transition: all .2s;
            -o-transition: all .2s;
            transition: all .2s;
            padding: 7px;
          }
        }

        .fa {
          color: #a3a3a3;
        }

        &.cta {
          a {
            border: 1px solid $section-primary;
            color: $section-primary;
            float: right;
            margin-top: -5px;
            font-size: 12px;
            padding: 8px;
          }
        }
      }

      &.active {

        background-color: #f6f6f6;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.9);

        td {
          background-color: transparent;
        }
      }
    }
  }

  ul.pagination {
    li {
      border: 1px solid #CCC;
      border-right: 0;
      background-color: #FFF;
      padding: 6px 12px;
      cursor: pointer;

      &.active {
        background-color: $section-primary;
        color: #FFF;
      }

      &:first-child {
        -webkit-border-top-left-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        border-right: 1px solid #CCC;
        -webkit-border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        -moz-border-radius-bottomright: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }

  .map-section {
    #listing-map {
      width: 100%;
      height: 380px;

      .infowindow {

        p {
          margin: 0;
          padding: 0;
        }

        .title {
          font-size: 15px;
          font-weight: bold;
        }

        .small-title {
          margin-top: 6px;
          margin-bottom: 2px;
          font-size: 13px;
          color: #979797;
          font-style: italic;
        }
      }
    }
  }
}

.widget-listing-map {

  #listing-map {
    width: 100%;
    height: 500px;
    margin-top: -30px;

    .infowindow {

      p {
        margin: 0;
        padding: 0;
      }

      .title {
        font-size: 15px;
        font-weight: bold;
      }

      .small-title {
        margin-top: 6px;
        margin-bottom: 2px;
        font-size: 13px;
        color: #979797;
        font-style: italic;
      }
    }
  }


  .listings {
    padding: 50px !important;

    #loading {
      margin: 80px auto 0 auto;
    }

    #listing-table {
      border-bottom: 1px solid #DDDDDD;
      th {
        padding: 10px 5px;
        border-bottom: 0;
      }

      .listing-property {
        cursor: pointer;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;

        td {
          font-size: 15px;
          padding: 10px 5px;

          &.cta {
            a {
              float: right;
            }
          }
        }

        &.active {

          background-color: #FFFFFF;
          box-shadow: 0px 0px 20px rgba(0,0,0,0.9);

          td {
            background-color: transparent;
          }
        }
      }
    }

    .show-all {
      float: right;
    }
  }
}


/*
body.listing {
.container-fluid {
background-color: $white;
padding: 0 15px;
.col-md-6 {
padding: 0;
}
}
.page {
padding: 50px 0;
h2 {
text-align: center;
margin-bottom: 30px;
}
}
.filter-block {
padding-left: 20px;
}
.map-section {
overflow: hidden;
padding-bottom: 82%;
position: relative;
height: 0;
iframe {
left: 0;
top: 0;
height: 100%;
width: 100%;
position: absolute;
}
}
.table {
margin-bottom: 0;
tr {
&:hover {
background: #efefef;
cursor: pointer;
}
}
}
.partner-container {
h1 {
font-family: 'Bebas Neue', Open sans;
text-transform: uppercase;
font-size: 2em;
color: $white;
text-align: center;
padding-bottom: 15px;
}
}
.partner-col {
text-align: center;
}
.partner-img {
padding: 0 20px;
}
}
*/

@media (max-width: $screen-sm-max)  {

  .listing-page {
    .listing-form {
      .default-filters {
        .cta {
          margin-top: 10px;
        }
      }
    }

    .listings{
      >div:first-of-type{
        padding-left: 0;
        padding-right: 0;
      }
    }
    .listing-table-wrapper{
      overflow: auto;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;
      .pagination{
        padding-left: 5px;
      }
    }


  }
}
