.my-ads {
  margin-top: 20px;
  padding: 20px 20px 30px 30px;

  .no-results {
    text-align: left;
    font-weight: bold;
    color: #ababab;
    padding-left: 15px;
    font-size: 16px;
  }

  .ad {
    background: #f9f9f9;
    margin: 20px 10px 30px 0px;
    height: 200px;
    box-shadow: 0px 2px rgba(0,0,0,0.05);
    display: block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 5px;

    h4 {
      font-size: 14px;
      margin: 0;
      padding: 15px;
      background: $section-primary;
      color: #FFF;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .desc {
      font-size: 14px;
      padding: 15px;
      color: #848484;
    }

    .date {
      position: absolute;
      bottom: 35px;
      width: 100%;
      left: 40px;

      .row {
        width: 100%;

        .col {
          padding: 5px 0px;
          text-align: left;
        }
      }
    }

    &:hover {
      box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
      text-decoration: none !important;
    }
  }

  h3 {
    color: #FFF !important;
    margin-left: 15px;
    border-radius: 5px;
    display: inline-block;
    padding: 15px;
  }

  .accepted {
    h3 {
      background-color: $primary-green;
    }
  }

  .waiting {
    h3 {
      background-color: $primary-orange;
    }
  }

  .rejected {
    h3 {
      background-color: $primary-red;
    }
  }

  .unpublished {
    h3 {
      background-color: $star-filled;
    }
  }
}


.my-profile-my-ads{
  color: #6B3756;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 20px;

  i{
    font-size: 40px;
    color: black;
    margin-right: 20px;
  }
}

a.my-profile-my-ads{
  padding: 10px;
  border-bottom: 2px solid #E0E0E0;
  display: inline-block;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  &:hover{
    // background: #f2f2f2;
    text-decoration: none;
    // border-radius: 5px;
    border-color: #6B3756;
    b{
      color: #6B3756;
    }
  }

}
