.author{
  h1{
    color: $heading-gray;
    font-size: 48px;
    margin-top: 0px;
  }
  h2{
    color: $gray-light-2;
    font-size: 28px;
    padding-bottom: 10px;
  }
  h3{
    color: $heading-gray;
    font-size: 18px;
    text-align: left;
  }
  .rating {
    margin-top: 10px;
  }
  .glyphicon.glyphicon-star{
    font-size: 20px;
    color: $star-filled;
    margin-right: 5px;
    &:last-child{
      margin-right: 0px;
    }
  }
  .glyphicon.glyphicon-ok{
    font-size: 30px;
    color: $icon-verified;
  }
  .sum-up{
    text-align: center;
    background-color: $white;
    h3{
      background-color: $gray-light;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    ul{
      list-style-type: none;
      padding-left: 0px;
      display: inline-block;
      text-align: left;
      li{
        position: relative;
        padding-left: 15px;
        &:before{
          color: $icon-verified;
          content: "\e013";
          font-family: 'Glyphicons Halflings';
          font-size: 18px;
          left: -15px;
          position: absolute;
          top: 5px;
        }
      }
      span{
        display: block;
        font-size: 12px;
        &.value{
          color: $gray-light-2;
        }
      }
    }
  }
  .rating{

  }
  .verification{
    .glyphicon{
      float: left;
    }
  }
  div{
    >.review{
      p{
        color: $gray-light-2;
        font-size: 12px;
        line-height: 1.5;
      }
      border-bottom: 1px solid #979797;
      margin-bottom: 10px;
    }
    &:last-child{
     >.review{
        border-bottom: none;
        margin-bottom: 0px;
      }
    }
  }
  .reviewer{
    color: #9c9c9c;
    font-size: 12px;
  }
}

.link-overlay {
  border-radius: 5px;
  img {
    border-radius: 5px;
  }
  &:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.24);
    height: 100%;
    width: 94.5%;
    position: absolute;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
  }
  &:hover:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 94.5%;
    position: absolute;
    cursor: pointer;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
  }
  .info {
    position: absolute;
    color: #fff;
    padding: 50px;
    a {
      color: #fff;
      &:hover {
        text-decoration: none;
      }
    }
    h3 {
      color: #fff;
      text-align: left;
      text-transform: uppercase;
    }
  }
}
