body.page-template-template-standard-panels {
  .blocksida-panels {
    .so-panel {
      background: #6B3756;
      padding: 35px 35px 30px 40px;
      box-shadow: 0 2px 0 rgba(0, 0, 0, .1);
      margin-bottom: 20px;
      border-radius: 5px;
      margin: 15px !important;
      height: 300px;
      color:white;

      h3 {
        font-family: 'Amatic SC', cursive;
        color: #FFF !important;
        font-size: 30px !important;
        margin-bottom: 8px;
        margin-top: 0;
        text-decoration: none;
      }

      .information {
        .widget-title {
          text-align: center;
          color: #6B3756 !important;
          font-weight: 700;
          font-size: 60px !important;
          margin-top: 20px;
        }

        h1 {
          text-align: center;
        }
        .textwidget {
          font-family: Raleway, sans-serif !important;
          letter-spacing: 1px;
          color: #3d3d3d !important;
          font-size: 16px;
        }

        .so-panel {
          background: #f9f9f9;
          box-shadow: none;
          height: auto;
          padding: 0 0 0 0;
        }
      }
    }
  }
}
