.user-profiles {

  .profile {
    .profile-image {
      width: 100%;
      height: 250px;
      margin-top: 20px;
      background: #EFEFEF;

      background-image: url('/wp-content/themes/bopoolen/assets/images/profile-image.png');
      background-size: cover;
      background-position: center center;
    }

    .contact {
      background: #FFF;
      margin-top: 40px;
      padding-bottom: 20px;
      border-bottom: 2px solid #dedede;
      border-radius: 5px;

      .verified {
        border-bottom: 1px solid #dedede;
        padding: 15px;
        text-align: center;
        font-weight: bold;
      }

      .item {
        padding: 10px 30px 0 30px;
        p {
          padding: 0;
          margin: 0;
          font-size: 14px;
        }

        .stars {

          .fa-star {
            color: #D0D0D0;
            &.yellow {
              color: #FFC000;
            }
          }
        }

        .content {
          p {
            margin: 5px 0;
          }

          margin-top: 10px;
        }
      }
    }
  }

  .info {
    h1 {
      font-family: Raleway,sans-serif;
      margin-bottom: 0;
    }

    .member-since {
      margin-top: 0;
      font-size: 18px;
    }

    .card-wrapper {
      background: #FFF;
      margin-top: 20px;
      border-bottom: 2px solid #dedede;
      border-radius: 5px;
      padding: 30px;

      .btn-default {
        border-bottom: 2px solid $primary-color;
        background-color: #f9f9f9 !important;
      }

      .multiselect {
        height: 46px;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid #DEDEDE;
        @include transition(border .3s ease);

        &:hover,
        &:focus,
        &:active {
          border-bottom: 2px solid $primary-color;
          background-color: #f9f9f9 !important;
        }
      }
      .multiselect-container {
        width: 100%;
        margin-top: -5px;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid $primary-color;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      .multiselect-container {
        li {
          a {
            padding: 3px 0;

            label {
              font-size: 14px;
              font-weight: bold;
              text-transform: none;
              color: #3d3d3d;
            }
          }

          &.active {
            a {
              background-color: $section-primary !important;

              label {
                color: $section-primary-text-light !important;
              }
            }
          }
        }
      }
    }

    .bio-title {
    }

    .ad-title {
      margin-bottom: 20px;
    }

    .ad {
      background: #f9f9f9;
      margin: 10px 10px 20px 0;
      height: 210px;
      box-shadow: 0px 2px rgba(0,0,0,0.05);
      display: block;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      border-radius: 4px;

      h4 {
        font-size: 14px;
        margin: 0;
        padding: 10px;
        background: $section-primary;
        color: #FFF;
      }

      .desc {
        font-size: 14px;
        padding: 10px;
        color: #848484;
      }

      .date {
        position: absolute;
        bottom: 20px;
        width: 100%;
        left: 15px;

        .row {
          width: 100%;

          .col {
            padding: 5px 0px;
            text-align: center;
          }
        }
      }

      &:hover {
        box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
        text-decoration: none !important;
      }
    }
  }

  .text-input,
  .wpcr3_ftext {
    border: none;
    box-shadow: none !important;
    outline: 0;
    border: 1px solid #dedede;
    border-bottom: 2px solid #DEDEDE;
    padding: 10px 22px;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 10px;

    &:focus {
      border: 1px solid $primary-color;
      border-bottom: 2px solid $primary-color;
    }
  }

  .wpcr3_check_confirm label {
    margin-bottom: 10px;
  }

  .wpcr3_respond_1  {
    margin-top: 30px !important;
  }

  .wpcr3_button_1 {
    background: none;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 30px;
    cursor: pointer;
    background-color: $primary-color !important;
    border: none;
    border-bottom: 2px solid #5F2830;
    color: #FFF;
    text-transform: none;
    font-weight: bold;
    letter-spacing: 1px;

    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;

    outline: 0 !important;

    &:hover {
      background-color: #5F2830 !important;
    }
  }

  .review-item {
    margin-bottom: 20px;
    background: #FFF;
    border-radius: 5px;
    padding: 20px 30px;
    border-bottom: 2px solid #d3d3d3;

    .stars {

      .fa-star {
        color: #D0D0D0;
        &.yellow {
          color: #FFC000;
        }
      }
    }

    .content {
      p {
        margin: 5px 0;
      }

      margin-top: 10px;
    }
  }
}
