.bop_modified_fields_container {
    margin: 20px 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    position: relative;;
}

.bop_modified_fields_container:before {
    content: "";
    display: block;
    height: 100%;
    width: 10px;
    background-color: #5b9dd9;
    position: absolute;
    left: -10px;
    top: -1px;
    bottom: 0;
    border: 1px solid #5b9dd9;
    border-width: 1px 0;
}

.bop_modified_fields_container > h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.bop_modified_field_container {
    border: 1px solid #e5e5e5;
    /* padding: 10px; */
    margin-top: 10px;
}

.bop_modified_field_container > h4 {
    margin: 0;
    background-color: #ededed;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
}

.bop_modified_field--value {
    padding: 10px;
}
